button {
    padding: 15px;
    background-color: darkgrey;
    border: none;
    border-radius: 10px;
    &.active{
        background-color: #fff;
    }
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    text-align: center;
    &.active {
        background-color: darkgrey;
        color: #fff;
    }
}